@{
    var item = Sitecore.Context.Database.GetItem("{1FC27FD9-0B15-4D99-A5DB-D605AA8076C6}");
}

<div class="col-sm-12">
    <div class="form-group">
        <div class="main-search">
            <div class="input-group input-group pl-4 pr-4">
                <input type="text" class="form-control" id="searchInput" placeholder="@Html.Sitecore().Field("HighliterText",item)">
                <div class="input-group-append">
                    <button type="button" class="btn btn-dark" id="searchButton">@Html.Sitecore().Field("ButtonLebel",item)</button>
                </div>
            </div>
        </div>
        <div id="resultsItem" class="text-white"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
		$(document).ready(function () {
			$("#searchButton").click(function (e) {				
				// debugger;
				e.preventDefault();
                if ($('#searchInput').val() == '' || $('#searchInput').val() == undefined) {
					$('#resultsItem').text("Please enter some text first.").addClass('text-danger');
					$('#searchInput').css({'border-color':'red'})
                    return false;
                }
				$.ajax({
					type: "GET",
					datatype: "JSON", url: "@Url.Action("DoSearch", "SearchIndex")",
					contentType: "application/json",
					data: {
						searchText: $("#searchInput").val()
					},
					success: function (result) {
						var resultText = "";
						$('#resultsItem').text(resultText);
						$('#resultsItem').append("Results from SOLR index <BR><BR>");
						$(result.Results).each(function (index, item) {
							// each iteration
							var Description = item.Description;
							var Title = item.Title;
							var Author = item.Author;
							var ItemName = item.ItemName;
							resultText += (index + 1) + " - " + ItemName + Title + "; " + Author + "; " + Description + "; " + "<BR><BR>";
						});
						$('#resultsItem').append(resultText);
					},
					error: function (result) {
						alert('error');
					}
				});
			});
		});
</script>