@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/SitecorePoweredBlog/css/bootstrap-themed.min.css">
  <link rel="stylesheet" href="/assets/SitecorePoweredBlog/css/blogsite.css">
  <style>
  .blog-post-card img{
	width:100%;
	
  }
  </style>
<!-- Latest compiled and minified CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</head>
    <body>
	<div class="container">
	  <div class="row">
		@Html.Sitecore().Placeholder("phMain")
	  </div>
    </div>
        
    </body>
</html>
